body {
  background-color: rgb(21, 89, 112);
  font-family: Helvetica;
  font-size: 0.8vw;
}
#fieldset {
  margin: 10px 10px 10px 10px;
  color: white;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 10px;
  width: 20%;
  padding: 10px 10px 10px 10px;
  align-items: center;
}
.caption {
  text-align: center;
  color: white;
  font-size: 25px;
  font-family: Helvetica;
  font-weight: bold;
}
