body {
  background-color: rgb(21, 89, 112);
  font-family: Helvetica;
  font-size: 0.8vw;
  display: flex;
  justify-content: center;
}
#fieldset {
  margin: 30px 20px 30px 20px;
  color: white;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 10px;
  padding: 20px 30px 20px 30px;
}
.caption {
  text-align: center;
  color: white;
  font-size: 25px;
  font-family: Helvetica;
  font-weight: bold;
}

#fieldset img {
  border: 1px solid white;
  border-radius: 20px;
  width: 90px;
  border-color: transparent;
}
